<div class="container max-w-sm mx-auto text-center px-4">
  <h1 class="text-lg text-indigo md:text-2xl mt-2 mb-4">Open Prof Copies Tracker <span class="sm:text-pink">2000</span></h1>

  <div class="my-4">
    <p>Nb copies: <input type="number" bind:value=totalNbCopies min="1" max="64" class="w-7 sm:w-10"></p>
    <p class="mt-1">Temps/copie (estimé): <TimeInput bind:timeInSeconds=estimatedTimePerCopie/></p>
  </div>

  <div class="font-bold mt-4 my-4">Copie n°{currentCopie}</div>
  <!-- <Timer ref:timer on:tic=update(event.timerTime) /> -->
  <Timer ref:timer bind:seconds=timerSeconds />
  <button on:click="nextCopie()" class="float-right mt-4 mx-2 p-4 w-24 bg-indigo-lighter"><img src="https://icon.now.sh/next" /></button>
  <div class="mt-4 inline-block">
    {#if currentCopie > 1}
      <p>Temps total: {timeStr(totalTime + timerSeconds, false)}</p>
    {/if}
    <p>Temps moyen (global): {#if !isNaN(averageTimePerCopie)}{timeStr(averageTimePerCopie, false)}{/if}</p>
    {#if currentCopie > 6}
      <p>Temps moyen (5 dernières): {#if !isNaN(timeAverage5)}{timeStr(timeAverage5, false)}{/if}</p>
    {/if}
    <p>Temps restant: {#if !isNaN(estimatedRemainingTime)}{timeStr(estimatedRemainingTime, false)}{/if}
      {#if !isNaN(remainingNbCopies)} ({remainingNbCopies} copies) {/if}
    </p>
    {#if estimatedEndTime}
      <p>Fin estimée: {estimatedEndTime}</p>
    {/if}
  </div>

  <div class="footer text-grey text-sm">
    Version 4
  </div>
</div>


<script>
  import { timeStr } from "./timeTools";
  export default {
    data() {
      return {
        currentCopie: 1,
        totalTime: 0,
        totalNbCopies: undefined,
        estimatedTimePerCopie: undefined,  // Given by user - in seconds
        copiesTimes: [],
        timerSeconds: undefined,
      };
    },
    components: {
      Timer: "./Timer.html",
      TimeInput: "./TimeInput.html",
    },
    helpers: {
      timeStr,
    },
    computed: {
      averageTimePerCopie: ({ copiesTimes, totalNbCopies, currentCopie }) => {
        // Real average time from mesured times, in seconds
        if (copiesTimes.length) {
          return copiesTimes.reduce((a,b) => a+b) / copiesTimes.length
        }
        else return undefined
      },
      timeAverage5: ({ copiesTimes, currentCopie }) =>
        // time average of last 5 copies
        copiesTimes.length > 0 ? copiesTimes.slice(-5).reduce((a,b) => a+b) / copiesTimes.slice(-5).length : undefined,
      remainingNbCopies: ({ totalNbCopies, currentCopie }) => currentCopie <= totalNbCopies ? totalNbCopies - currentCopie : undefined,
      estimatedRemainingTime: ({ currentCopie, copiesTimes, timerSeconds, timeAverage5, totalNbCopies, remainingNbCopies, estimatedTimePerCopie}) => {
        // Return remaining time, in seconds
        if (currentCopie > totalNbCopies) return
        var estimated
        if (currentCopie == 1)
          estimated = totalNbCopies * estimatedTimePerCopie - timerSeconds
        else {
          estimated = (remainingNbCopies + 1) * timeAverage5 - timerSeconds
        }
        return estimated ? Math.max(estimated, 0) : estimated
      },
      estimatedEndTime: ({ estimatedRemainingTime }) => {
        if (isNaN(estimatedRemainingTime))
          return undefined;
        const date = new Date(Date.now() + estimatedRemainingTime*1000);
        return date.getHours() + 'h' + date.getMinutes();
      },
    },
    methods: {
      nextCopie() {
        const { currentCopie, totalTime, averageTimePerCopie, copiesTimes } = this.get();
        const { timer } = this.refs;
        const currentCopieTime = timer.nbSeconds()
        if (currentCopieTime <= 5) return
        copiesTimes.push(currentCopieTime)
        timer.resetTimer();
        this.set({
          currentCopie: currentCopie + 1,
          totalTime: totalTime + currentCopieTime,
        });
      }
    },
  };
</script>

<style>
div :global(input) {
  border-width: 1px;
  background: #f1f5f8;
}
</style>