<div class='{bg_color} text-4xl max-w-sm p-3 border border-grey text-center' on:click='togglePause()'>
  <div class="">{timeStr}</div>
  <img alt='play/pause button' src='{icon}/2980b9' class="h-8 mt-4">
</div>


<script>
  import Timer from "timer-machine";
  import { timeStr } from "./timeTools";

  export default {
    data() {
      return {
        time: 0,
        seconds: 0,
        paused: true,
      };
    },

    oncreate() {
      this.timer = new Timer(!this.get().paused);
      this.interval = window.setInterval(() => {
        const timerMillis = this.timer.time();
        if (!this.get().paused) {
          this.set({ time: timerMillis });
          this.set({ seconds: Math.floor(timerMillis / 1000) });
        }
      }, 1000);
    },

    ondestroy() {
      window.clearInterval(this.interval);
    },

    methods: {
      resetTimer() {
        this.timer = new Timer(!this.get().paused);
      },
      togglePause() {
        this.set({ paused: !this.get().paused });
        if (this.get().paused && this.timer.isStarted()) this.timer.toggle();
        else if (this.timer.isStopped()) this.timer.toggle();
      },
      nbSeconds() { return Math.floor(this.get().time / 1000) },
    },

    computed: {
      icon: ({ paused }) => {
        return `https://icon.now.sh/${paused ? "play" : "pause"}_circle_filled`;
      },
      bg_color: ({ paused }) => (paused ? "bg-grey-lighter" : "bg-teal-lighter"),
      timeStr: ({ time }) => timeStr(time)
    }
  };
</script>
