<div class="inline-block">
    <input type="number" bind:value=min min="1" max="600" class="w-6 sm:w-10">:
    <input type="number" bind:value=sec min="0" max="59" class="w-6 sm:w-10">
</div>

<script>
  export default {
    data() {
      return {
        min: undefined,
        sec: undefined
      };
    },
    computed: {
      timeInSeconds({ min, sec }) {
        return (isNaN(min) && isNaN(sec)) ? undefined : (min || 0) * 60 + (sec || 0)
      }
    }
  }
</script>